 .u-section-1 {
  min-height: 1183px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 1195px;
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: -949px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 394px auto 0;
  padding: 15px 43px 16px;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 0;
  padding: 15px 72px 16px 70px;
}

.u-section-1 .u-btn-3 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 60px;
  padding: 15px 44px 16px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 940px) / 2)  + 219px);
    margin-left: calc(((100% - 940px) / 2)  + 245px);
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 940px) / 2)  + 245px);
  }

  .u-section-1 .u-btn-3 {
    margin-left: calc(((100% - 940px) / 2)  + 245px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 496px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 500px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 569px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 272px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-left: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 165px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  margin: 21px 40px 0 174px;
}

.u-section-2 .u-image-1 {
  width: 94px;
  height: 94px;
  margin: -108px auto 36px 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-2 .u-text-1 {
    width: 434px;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 14px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 147px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 33px;
    margin-left: 156px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -88px;
    margin-bottom: 27px;
    margin-left: 33px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 165px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 206px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 19px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 21px;
    margin-left: auto;
    margin-bottom: 21px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 257px;
}

.u-section-3 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 0;
  padding: 7px 467px 7px 466px;
}

.u-section-3 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 0 28px;
  padding: 7px 467px 7px 466px;
}

.u-section-3 .u-btn-3 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 0 28px;
  padding: 7px 467px 7px 466px;
}

.u-section-3 .u-btn-4 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 20px 28px;
  padding: 7px 467px 7px 466px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-4 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
    padding-right: 285px;
    padding-bottom: 8px;
    padding-left: 284px;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 0;
    padding-right: 285px;
    padding-left: 284px;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 0;
    padding: 6px 285px 8px 284px;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 21px;
    margin-bottom: 21px;
    margin-left: auto;
    padding-right: 285px;
    padding-left: 284px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
    padding-right: 94px;
    padding-left: 94px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: auto;
    margin-right: auto;
    padding: 6px 94px 8px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 94px;
    padding-left: 94px;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 95px;
    padding-left: 94px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 165px;
}

.u-section-4 .u-text-1 {
  font-size: 4.5rem;
  width: 491px;
  margin: 25px auto 0;
}

.u-section-4 .u-image-1 {
  width: 94px;
  height: 94px;
  margin: -104px auto 35px 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-4 .u-text-1 {
    width: 434px;
    margin-top: 20px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 147px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    width: 326px;
    margin-top: 35px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -85px;
    margin-bottom: 27px;
    margin-left: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 165px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-4 .u-image-1 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: 205px;
    margin-top: 21px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 19px;
    margin-left: auto;
    margin-bottom: 21px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 2024px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 0 0 5px;
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1716px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 120px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  margin: 27px 0;
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }
}