 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1549px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  width: 323px;
  margin: 1px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 20px 692px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 1px 570px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 3rem;
  font-weight: 700;
  margin: 20px 692px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  margin: 0 570px 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 3rem;
  font-weight: 700;
  margin: 20px 692px 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.875rem;
  margin: 0 570px 0 0;
}

.u-section-1 .u-text-8 {
  font-size: 3rem;
  font-weight: 700;
  margin: 19px 692px 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.875rem;
  margin: 1px 570px 0 0;
}

.u-section-1 .u-text-10 {
  font-size: 3rem;
  font-weight: 700;
  margin: 20px 692px 0 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.875rem;
  margin: 0 570px 19px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 696px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 492px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 370px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 492px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 370px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 492px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 370px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 492px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 370px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 492px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 320px;
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 21px;
    margin-right: 272px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 150px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 272px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 150px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 272px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 150px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 272px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 150px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 272px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 92px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 92px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 92px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 92px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 92px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1474px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 1px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-bottom: 20px;
  }
}